

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 10vh;
    background-color: blue;
}

main {
    height: 90vh;
    background-color: orange;
}

.controls {
    padding: 25px;
}

.books {
    margin: 25px;


    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    gap: 10px;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    width: 250px;
    background-color: rgb(242, 223, 242);
    padding: 10px;

    border-radius: 10px;
}

.Title {
    border-bottom: 1px solid gray;
}

.author {
    margin-top: 5px;
}

.SecondaryInfo {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid gray;
    padding-top: 10px;
}


.modal {
    height: 250px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    padding: 25px;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 1;
    /* display: none; */
    position: fixed;
    left: 50%;
    top: 25%;
}

.formsections {
    display: flex;
    flex-direction: column;
}

.radioButtons {
    display: flex;
    /* flex-direction: row; */
}

#submitbook {
    cursor: pointer;
}

#closebuttons {
    float: right;
    margin-top: -10px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}